click==8.1.7
frictionless==5.16.1
GitPython==3.1.43
jsonpath-ng==1.6.1
jsonschema==4.17.3
openapi-spec-validator==0.5.7
pandas==2.2.1
PyLD==2.0.4
pyshacl==0.25.0
PyYAML==6.0.1
rdflib==7.0.0
requests==2.31.0
requests-cache==1.2.0
SQLAlchemy==2.0.29
openapi-spec-validator==0.5.7
