click==8.1.1
frictionless==4.40.5
GitPython==3.1.27
jsonpath-ng==1.5.3
jsonschema==3.2.0
openapi-spec-validator==0.4.0
pandas==1.4.3
PyLD==2.0.3
pyshacl==0.19.0
PyYAML==5.4.1
rdflib==6.2.0
requests==2.28.1
requests-cache==0.9.5
SQLAlchemy==1.4.39
